/* // 游빔 Estiliza칞칚o do PulsarTitulo focado no Background */

.container-pulsar-titulo {
    /* coment치rio */
    display: block;
    width: 100%;
}

.Container-Missao-Destaque {
    /* coment치rio */
    padding: 5px;
    border-radius: 12px;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
}

/* 游늻 Quando ativo, o fundo come칞a a pulsar em vermelho */
.efeito-pulsar-ativo .Container-Missao-Destaque {
    /* coment치rio */
    animation: pulsarBackgroundVermelho 2s infinite ease-in-out;
}



/* 游늻 Anima칞칚o do fundo "respirando" */
@keyframes pulsarBackgroundVermelho {
    /* coment치rio */
    0% {
        background-color: rgba(255, 0, 0, 0.05); /* Vermelho quase invis칤vel */
        transform: scale(1);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.15); /* Vermelho suave de alerta */
        transform: scale(1.1); /* Micro pulso de escala */
    }
    100% {
        background-color: rgba(255, 0, 0, 0.05);
        transform: scale(1);
    }
}