


.Card-Informativo-Diretrizes {

    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 650px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-top: 6px solid #1a237e; 

    /* margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}














.Texto-Destaque-Diretrizes {
    font-size: 26px;
    color: #1a237e;
    /* line-height: 2; */
    margin-bottom: 5px;
}

.Subtexto-Especialidade-Diretrizes {
    display: block;
    font-size: 16px;
    color: #7f8c8d;
    font-style: italic;
}












/* ✍️ TEXTOS E LISTA */
.Corpo-Texto-Diretrizes {
    text-align: center;
    color: #34495e;
    line-height: 1.6;
    margin-top: 20px;
}

.Lista-Diferenciais-Diretrizes {
    margin: 20px 0;
    /* padding-left: 20px; */
    list-style-type: none; /* Tiramos a bolinha padrão para usar emojis ou estilo próprio */
}

.Lista-Diferenciais-Diretrizes li {
   
    /* Mantendo suas regras base intactas */
    margin-bottom: 12px;
    position: relative;

    /* Adicionando a nova camada suave */
    background-color: rgba(79, 170, 128, 0.1); 
    color: #2c3e50;                            
    padding: 15px 20px 15px 25px;              
    border-radius: 8px;                      
    list-style: none;
    
    /* Detalhe: Uma borda sólida à esquerda com o seu verde padrão */
    border-left: 5px solid #1a237e;
    
    transition: all 0.3s ease;


}

.Lista-Diferenciais-Diretrizes li::before {
    margin-right: 10px;
}

.Frase-Final-Diretrizes {
    text-align: center;
    font-size: 1.1rem;
    color: #1a237e;
    margin-top: 30px;
}
